* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
}

/* style for header section */
h1{
  line-height: 65px;
  font-size: 48px;
}

.header-container {
  background-image:  linear-gradient(
    0deg,
    rgba(35, 39, 49, -0.18),
    rgba(35, 39, 49, 1.82)
  ), url("images/bg-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 743px;
  left: -1px;
  top: 0px;
}

.nav-bar {
  position: absolute;
  width: 1700px;
  height: 135px;
  left: 69px;
  top: 17px;
  filter: brightness(100%);
}

.header-logo {
  float: left;
}

.nav-content {
  list-style-type: none;
}

.menu-section {
  width: 50%;
  float: right;
  margin-top: 34px;
}

.menu-item {
  float: left;
  display: block;
  margin-right: 70px;
}
/* nav menu */
.nav-content li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.nav-content li a:hover {
  color: #00B9F7;
}


/* header title */
.header-title {
  color: #fff;
  text-align: center;
  margin: auto;
  width: 30%;
  padding: 10px;
  margin-top: 10%;
}

/* header video */
.header-video {
  margin: auto;
  width: fit-content;
}

/* main section */
main{
  overflow: hidden;
  width: 100%;
}

.main-content-container{
  width:100%;
  margin-top: 50%;
}

/* begin content */
.begin-content{
  max-width: 1024px;
  margin: 0 auto;
}

/* css for card */

.card-title{
  color:#152844;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 2%;
}

.card-content{
  display: flex;
  justify-content: center;
  height: auto;
  color: #fff;
}

.step-1, .step-2, .step-3{
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(35, 39, 49, -0.18),
    rgba(35, 39, 49, 1.82)
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.step-1:hover, .step-2:hover, .step-3:hover{
  box-shadow: 1px 1px 8px #b9ecfd;
}

.step-1{
  background-image:url("images/step-1.png");
}

.step-2{
  background-image:url("images/step-2.png");
  margin-left: 10px;
  margin-right: 10px;
}

.step-3{
  background-image: url("images/step-3.png");
}

.img-name, .img-description{
  margin-left: 30px;
  margin-right: 72px;
}

.img-name{
  margin-top: 50%;
  font-size: 28px;
} 
.img-description{
  line-height: 24px;
}

.triangle-topleft {
  margin-top: auto;
  width: 0;
  height: 0;
  border-top: 100px solid #00B9F7;
  border-right: 100px solid transparent;
}

.triangle-topleft p{
  margin-top: -71px;
  margin-left: 10px;
}

/* partner CSS */
.partner-container{
  margin-top: 5%;
}

.partner-title{
  color:#152844;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.child-partner-img:hover{
  -moz-box-shadow: 1px 6px 5px #b9ecfd;
  -webkit-box-shadow: 1px 6px 5px #b9ecfd;
  box-shadow: 0px 6px 5px #b9ecfd;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
}

.partner-members{
  display: flex;
  text-align: center;
  margin-bottom: 5%;
}

.fmember, .smember, .tmember, .lmember{
  width: 50%;
}

.partner-name:hover{
  color: #00B9F7;
}

.partner-img{
  width: fit-content;
  margin: auto;
}


.child-partner-img img{
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

.favourite{
  float: right;
  margin-top: -40px;
  border: 4px solid #fff;
  border-radius: 50%;
}

.partner-name{
  color: #444444;
  font-weight: bold;
  font-size: 20px;
}

.partner-address{
  color: #666666;
}

.btn-more-partners{
  text-align: center;
}

button{
  font-weight: bold;
  padding: 14px;
  border: 1px solid #00B9F7;
  color: #00B9F7;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 5%;
}

button:hover{
  color: #ffff;
  background: #00B9F7;
}
/* end begin content */

/* middle content */
/* CSS for discover holiday activity ideas section */
.middle-content{
  width: 100%;
  background-color: #232731;
}

.activity_container {
  max-width: 1024px;
  margin: 0 auto;
}
.activity-title{
  padding-top: 40px;
  padding-bottom: 40px;
  color:#fff;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
}


.activity-photos {
  display: flex;
  flex-wrap: wrap;
}
.photos_item {
  width: 332px;
  padding: 7px 7px;
}
.photos_item:nth-child(1),
.photos_item:nth-child(2),
.photos_item:nth-child(3),
.photos_item:nth-child(4),
.photos_item:nth-child(7) {
    width: calc(100% / 3);
    height: auto;
}
.photos_item:nth-child(5),
.photos_item:nth-child(6) {
    width: calc(100% - calc(100% / 3));
    height: 320px;
}
.photos_item img {
    width: 100%;
    height: 100%;
}

.avt {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin-top: -9%;
  margin-left: 9%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photos_item:hover .avt {
  opacity: 0.3;
}

.photos_item:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* CSS for user love app */
.list-title{
  color:#152844;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.arrow-left, .arrow-right{
  margin-left: 30px;
  margin-right: 30px;
}

.list-content{
  display:flex;
}

.user-infor{
  max-width: 1024px;
  margin: auto;
}

.child-user-infor{
  width: 300px;
  margin: auto;
  padding-top: 2%;
}

.user-img{
  float: left;
}

.user-name, .user-rank{
  width: 154px;
  float: right;
  margin-top: 8%;
}

.user-rank{
  display:flex;
  width: fit-content;
}

/* search form */
.search-section{
  max-width: 1024px;
  margin: auto;
  padding-top: 2%;
}

.search-content{
  text-align: center;
}
.search-main-title{
  color:#152844;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.search-question-title{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.search-input{
  padding: 14px 12px;
  padding-right: 67%;
  border-radius: 3px;
  border: 1px solid #D4D4D4;
  margin-right: 10px;
}

/* CSS for footer */
footer{
  width: 100%;
  background-color: #091445;
  color: #fff;
}

.child-footer{
  max-width: 1024px;
  margin: auto;
}

.footer-logo{
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer-content{
  display: flex;
  justify-content: space-between;
 
}

.footer-content ul li{
  list-style: none;
  line-height: 30px;
}

.footer-content ul{
  line-height: 50px;
  padding: 0;
}

/* last footer */
.footer-contact{
  margin-top: 10px;
  height: 70px;
}

.design-by, .social-media{
  padding-left: 5%;
  padding-right: 5%;
}

.design-by{
  float: left;
  line-height: 30px;
  width: 30%;
}

.social-media{
  float:right;
  display:flex;
}

.facebook, .twitter, .youtube, .google {
  position: relative;
  margin-left: 10px;
}

.facebook .facebook-hover,
.twitter .twitter-hover, 
.youtube .youtube-hover, 
.google .google-hover{

  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.facebook:hover .facebook-hover,
.twitter:hover .twitter-hover,
.youtube:hover .youtube-hover, 
.google:hover .google-hover {

  display: inline;
}