*{
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

.main-container{
    padding-left: 7%;
    padding-right: 7%;
}

.partners-container{
    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 40px;
    color: #152844
}

.partners-card{
    display: flex;
}

.partner-item{
    padding: 10px 10px;
    width: 500px;
}


.partner-img{
    width: fit-content;
    margin: auto;
}

.avatar{
    border-radius: 50%;
}

.partner-item:hover > .partner-img > .avatar,
.partner-item:hover > .partner-img > .favourite-icon{
    -moz-box-shadow: 1px 6px 5px #b9ecfd;
    -webkit-box-shadow: 1px 6px 5px #b9ecfd;
    box-shadow: 0px 6px 5px #b9ecfd;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    border-radius: 300px;
}

.partner-item:hover > .partner-name{
    color: #00B9F7;
}

.favourite-icon{
    margin-left: -20%;
    border: 3px solid #fff;
    border-radius: 50%;
}

.partner-name{
    color: #444444;
    font-size: 22px;
    font-weight: bold;
}

.partner-name:hover{
    color: #b9ecfd;
}

.partner-description{
    color: #666666;
    font-size: 20px;
}

button{
    padding: 14px;
    border: 1px solid #00B9F7;
    color: #00B9F7;
    font-weight: bold;
    border-radius: 10px;
    background: #fff;
}
  
button:hover{
    color: #ffff;
    background: #00B9F7;
}